body,

.police-sympa{ 
    font-family: 'Liu Jian Mao Cao', cursive;

}
h1{font-size: 75px}
h2{font-size: 50px}
h3{font-size: 40px}
p{font-size: 35px}
b{font-size: 35px}
ul{font-size: 50px}


body{
	background-image: url(images/Arrow.jpg);
	color:green;

}

#conteneur
{
	display: flex;
	justify-content: space-around;
	
}

a:visited {
	color: green;
